@import url("https://use.typekit.net/xud5zjg.css");

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #EDD6C3;
}

canvas {
  display: block;
}

h1 {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 4vh;
  left: 16px;
  margin-right: 24px;
  font-family: 'tenez', serif;
  font-weight: 400;
  font-style: normal;
  font-size: max(24px, 5vh);
  line-height: 1;
  letter-spacing: -0.15vh;
  font-feature-settings: "case";
}

p {
  margin: 0;
  font-family: 'fit-variable';
  font-size: 100vh;
  text-align: left;
  position: absolute;
  line-height: 0.5;
  left: 0;
  bottom: 0;
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
}

span#ordinal {
  font-size: calc(max(24px, 5vh) * 0.8);
  position: relative;
  top: -0.4em;
  padding-left: 2px;
}

span#no-wrap {
  white-space: nowrap;
}

::selection {
  color: #EDD6C3;
  background: black;
  /* WebKit/Blink Browsers */
}